$light-primary-color: #18181b;
$light-secondary-color: #3f3f46;
$light-accent-color: #71717a;
$light-bg-color: #fafafa;
$light-text-color: #18181b;
$light-muted-color: #f4f4f5;
$light-border-color: #e4e4e7;
$light-cardBg-color: #ffffff;

.login-layout {
  background-color: $light-bg-color;
  color: $light-text-color;
  height: 100vh;
  display: flex;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;

  h2 {
    font-size: 28px;
    margin-bottom: 5px;
  }

  p {
    padding: 8px 0;
    font-size: 12px;

    a {
      color: $light-primary-color;
      text-decoration: underline;
    }
  }
}

.image-container {
  width: 70%;
  background-image: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643');
  background-size: cover;
  background-position: center;
}
