.chat-side-container {
  position: absolute;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;
  background-color: #fafafa;
  transition: transform 0.3s ease-in;
  box-sizing: border-box;
  border-right: 1px solid #dee0e3;
  z-index: 2;

  .chat-list-title {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #dee0e3;
    font-weight: 500;
  }

  .chat-list-body {
    padding: 8px 12px;
    box-sizing: border-box;
  }
}

.expand-box {
  transform: translateX(348px);
}

.shrink-box {
  transform: translateX(-348px);
}

.bottom-chat {
  margin-bottom: 12px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #dee0e3;
  box-sizing: border-box;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.quote-box {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #646a73;
  border-left: 2px solid #bbbfc4;
  padding-left: 8px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body-box {
  display: flex;
  margin-top: 12px;

  .left-box {
    margin-right: 8px;
    width: auto;
  }

  .right-box {
    flex: 1;

    .right-top-box {
      font-size: 13px;

      .user-name {
        color: #18181b;
        margin-right: 8px;
      }

      .date-box {
        color: #71717a;
      }
    }

    .chat-content-box {
      color: #3f3f46;
      font-size: 13px;
      line-height: 1.5;
    }
  }
}

.input-box {
  margin-top: 24px;
}

.reply-box {
  opacity: 0;
  margin-top: 8px;
  margin-left: 32px;
  width: 100%;
  font-size: 12px;
  line-height: 1.2;
  color: #71717a;

  &:hover {
    opacity: 1;
  }
}

.comment-item-box {
  position: relative;

  .menu-box {
    position: absolute;
    right: 4px;
    top: 0;
    font-size: 12px;
    color: #646a73;
    height: auto;
    background-color: #fafafa;
    opacity: 0;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &:hover .menu-box {
    opacity: 1;
  }
}
