.register-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.illustrate-container {
  position: relative;
  width: 55%;
  height: 100%;
  background: linear-gradient(135deg, #171717 0%, #404040 100%);
  padding: 48px;
  color: white;

  .slogan {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    max-width: 800px;
    line-height: 1.5;
  }

  .subtitle {
    font-size: 16px;
    opacity: 0.9;
    margin-top: 8px;
    position: relative;
    z-index: 1;
    max-width: 600px;
  }

  .background-circles {
    position: absolute;
    inset: 0;
    opacity: 0.1;
  }

  .circle1 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: white;
  }

  .circle2 {
    position: absolute;
    bottom: 25%;
    right: 25%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: white;
  }

  .circle3 {
    position: absolute;
    top: 50%;
    right: 33.33%;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: white;
  }
}

.form-container {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 64px 20px 12px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.top-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  border: 1px solid #171717;
  border-radius: 8px;
  width: 40px;
  height: 40px;

  .inner-box {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 4px;
  }
}

.info-box {
  margin: 16px 0;

  .primary-title {
    font-size: 24px;
    font-weight: 600;
    color: #171717;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .sub-title {
    color: #737373;
    line-height: 1.2;
  }
}

.custom-input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--light-border-color);
  border-radius: 6px;
  font-size: 16px;
  background-color: rgba(228, 228, 231, 0.2);
}

.raw-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}