/* 左侧物料 */
.materiel-container {
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 10px;
  border-right: 1px solid #e4e4e7;
  box-sizing: border-box;
}

.module-box {
  margin-bottom: 8px;

  h4 {
    margin-bottom: 8px;
  }

  .materiel-list {
    box-sizing: border-box;
    padding: 0 4px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    .module-item {
      width: 100%;
      aspect-ratio: 1/1;
      box-sizing: border-box;
      border: 1px solid #e4e4e7;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        background-color: #f6f6f7;
      }

      .top {
        color: #333;
        font-weight: 600;
        // display: flex;

        span {
          margin-left: 8px;
        }
      }

      .footer {
        font-size: 12px;
        color: #71717a;
      }
    }
  }
}

.item-box {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  // justify-content: space-between;

  .left {
    width: 40px;
    font-size: 24px;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .right-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .label {
        line-height: 1.2;
        font-size: 15px;
        font-weight: 600;
        color: #000000;
      }
    }

    .sub {
      font-size: 12px;
      color: #9d9da3;
    }
  }
}
