.qa-side-container {
  position: absolute;
  top: 0;
  right: 48px;
  height: 100%;
  width: 300px;
  background-color: #fafafa;
  transition: transform 0.3s ease-in;
  padding: 8px;
  box-sizing: border-box;
  border-left: 1px solid #dee0e3;

  .qa-list-title {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #dee0e3;
    font-weight: 500;
  }
}

.tooltip-card {
  background: linear-gradient(to right, #faf5ff, #f0f9ff);
  border: 1px solid #e9d5ff;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  margin: 8px 0;
  height: 120px;

  .icon-box {
    color: #6b21a8;
  }

  .text-container {
    .title {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: #581c87;
    }

    .description {
      font-size: 0.75rem;
      line-height: 1.5;
      color: #6b21a8;
    }
  }
}

.tabs-header {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #f4f4f5;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  .tab-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    color: #71717a;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease,
      font-weight 0.3s ease;
  }

  .active-item {
    background-color: #fafafa;
    color: #000;
    font-weight: 500;
  }
}

.ai-chat-box {
  padding: 8px;
  box-sizing: border-box;

  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    height: 32px;
  }

  .chat-content {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 280px);
    overflow-y: scroll;
    font-size: 12px;
    white-space: pre-wrap;
  }
}
