.setting-contaienr {
  position: absolute;
  top: 0;
  right: 48px;
  width: 390px;
  height: 100%;
  padding: 0 14px;
  background-color: #f8f8f9;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 2;

  &::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
  }

  &::-webkit-scrollbar-track {
    background: #e9e9e9; /* 滚动条轨道颜色 */
    border-radius: 4px; /* 圆角 */
  }

  &::-webkit-scrollbar-thumb {
    background: #8b8b8b; /* 滚动条颜色 */
    border-radius: 4px; /* 圆角 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf; /* 滚动条悬停时颜色 */
  }
}

.active-translate {
  transform: translateX(440px);
}

.custom-line {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 8px 0;

  .setting-label {
    margin-right: 12px;
    font-size: 13px;
    height: 100%;
  }
}

.color-picker-box {
  height: auto;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  .picker-item {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .color-name {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    margin-right: 8px;
  }
}

.theme-color-container {
  display: grid;
  width: 100%;
  height: 120px;
  margin: 12px 0;
  grid-template-columns: repeat(9, 1fr);

  .color-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .radio-box {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      outline: 1.5px solid #333;
      outline-offset: 2px;
    }
  }
}

.down-load-box {
  height: 84px;
  width: 100%;
  display: flex;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  padding: 8px;
  box-sizing: border-box;

  &:hover {
    background-color: #f6f6f7;
    cursor: pointer;
  }

  .icon-box {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .content-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-weight: 600;
      line-height: 1.2;
    }

    .subtitle {
      font-size: 12px;
      color: #39393b;
      line-height: 1.5;
    }
  }
}

.active {
  // width: 24px;
  // height: 24px;
  border-radius: 50%;
  outline: 1.5px solid #333;
  outline-offset: 2px;
}

.template-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  flex-wrap: wrap;

  .template-item {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fff;
    box-sizing: border-box;
    background-size: cover; /* 覆盖整个盒子 */
    background-position: center; /* 图片居中 */
    background-repeat: no-repeat; /* 不重复 */

    .title-box {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      line-height: 1.5;
      /* 文字样式 */
      color: #333; /* 深灰色文字 */
      font-size: 12px;
      font-weight: 500;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); /* 可选：增加文字可读性 */

      /* 白色半透明毛玻璃效果 */
      background-color: rgba(255, 255, 255, 0.3); /* 白色半透明底色 */
      backdrop-filter: blur(10px) saturate(150%);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.active-template {
  border: 2px solid #333;
}

.tab-bar {
  width: 100%;
  height: 48px;
  background-color: #f4f4f5;
  border-radius: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .tab-item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #71717a;
    font-weight: 600;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
    }
  }
}

.active-tab {
  background-color: #fff;
  color: #000;
}

.raw-box {
  display: flex;
  gap: 12px;
}

.custom-input {
  width: 100%;
  height: 40px;
  background-color: #fafafa;
  flex: 1;
}

.history-box {
  width: 100%;
  height: 383px;
  overflow-y: auto;
  padding: 0 12px;
  box-sizing: border-box;

  p {
    line-height: 1.2;
    font-size: 12px;
    font-weight: 500;
    color: #787880;
    margin: 8px 0;
  }

  &::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
  }

  &::-webkit-scrollbar-track {
    background: #e9e9e9; /* 滚动条轨道颜色 */
    border-radius: 4px; /* 圆角 */
  }

  &::-webkit-scrollbar-thumb {
    background: #8b8b8b; /* 滚动条颜色 */
    border-radius: 4px; /* 圆角 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf; /* 滚动条悬停时颜色 */
  }
}
