.custom-btn-contaienr {
  all: unset;
  width: 100%;

  .main-box {
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18181b;
    color: #fff;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      background-color: rgba($color: #18181b, $alpha: 0.8);
    }
  }
}

.disabled-btn {
  background-color: rgba($color: #18181b, $alpha: 0.6) !important;

  &:hover {
    cursor: not-allowed !important;
  }
}
